.button__sign-up {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 50px;
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
  margin: 12px;
  background-image: linear-gradient(
    45deg,
    hsl(273deg 98% 24%) 0%,
    hsl(236deg 59% 38%) 11%,
    hsl(214deg 100% 36%) 22%,
    hsl(209deg 100% 40%) 33%,
    hsl(205deg 100% 44%) 44%,
    hsl(200deg 100% 46%) 56%,
    hsl(195deg 100% 48%) 67%,
    hsl(190deg 100% 49%) 78%,
    hsl(184deg 100% 49%) 89%,
    hsl(179deg 100% 55%) 100%
  );
}
.button__sign-up:hover {
  background-color: #f7f7f7;
  color: black;
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.button__logout {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 1.25rem;
  color: var(--color-text);
  text-decoration: none;
}

.button__login {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 1.25rem;
  color: var(--color-text);
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid var(--color-text);
}
.button__login:hover {
  background-color: var(--color-text);
  color: var(--color-background);
}
/* Smaller screens (530px and below) */
@media screen and (max-width: 530px) and (min-width: 338px) {
  .button__sign-up,
  .button__logout,
  .button__login {
    font-size: 1rem; /* Reduce font size */
    padding: 6px 10px; /* Reduce padding */
    border-radius: 30px; /* Adjust border radius for rounded buttons */
  }

  .button__logout,
  .button__login {
    border-radius: 30px; /* Ensure consistent styling across buttons */
  }

  .button__sign-up {
    margin: 8px; /* Reduce margin for tighter layout */
  }
}

@media screen and (max-width: 337px) {
  .button__sign-up,
  .button__logout,
  .button__login {
    font-size: 1rem; /* Reduce font size */
    padding: 6px 10px; /* Reduce padding */
    border-radius: 30px; /* Adjust border radius for rounded buttons */
  }

  .button__logout,
  .button__login {
    border-radius: 30px; /* Ensure consistent styling across buttons */
  }

  .button__sign-up {
    display: none;
  }
}