.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem;
  scrollbar-color: var(--color-border) var(--color-text);
  scrollbar-width: thin;
}
