/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.CalendarContainer {
  height: 80%;
  overflow: hidden;
}

.react-calendar-heatmap {
  height: 200px;
}

.react-calendar-heatmap text {
  font-size: 0.5rem;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 0.5rem;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/* Color scales for heatmap cells */
.react-calendar-heatmap .color-empty {
  fill: var(--color-heatmap-cell);
  width: 10px;
  height: 10px;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
  width: 10px;
  height: 10px;
}

/*
     * Github color scale
     */

.react-calendar-heatmap .color-github-0 {
  fill: var(--color-heatmap-cell);
}

.react-calendar-heatmap .color-github-1 {
  fill: #44a340;
}

.react-calendar-heatmap .color-missed {
  fill: #e5484d;
}
