.habitsContainerHeroText {
  text-shadow: rgba(255, 255, 255, 0.2) 0px 0px 4px;
  font-size: 2.5rem;
  text-align: center;
}
.habitsContainer {
  border: 1px solid var(--color-border);
  border-radius: 25px;
  padding: 20px;
  margin: 0px 0 20px;

  align-items: center;
}
.add-habit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.sectionTitle {
  text-shadow: rgba(255, 255, 255, 0.2) 0px 0px 4px;
  font-size: 2.5rem;
  text-align: center;
}
