.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6rem;
    padding-top: 2.8rem;
    position: relative;
  }
  
  .section {
    margin-bottom: 3rem;
  }
  
  .title {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  
  .subtitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .description {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .video-container {
    width: 85%; /* Container width */
    overflow: hidden; /* Hide the overflow to crop the video */
    margin: 0 auto; /* Center the container */
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .video {
    width: 100%; /* Ensure the video takes the full width of the container */
    height: auto;
    object-fit: cover; /* Keep the aspect ratio */
    transform: translateX(+3%); /* Crop 10% from the right side */
  }
  