.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 1000px;
  margin-right: 14px;
  background: transparent;
  color: var(--color-deemphasized-text);
  cursor: pointer;
}
.wrapper:hover {
  color: var(--color-text);
}

/* Smaller screens (530px and below) */
@media screen and (max-width: 530px) {
  .wrapper {
    display: none;
  }
}
